pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
#-e . '''Jab tum apna khud ka Python package bana rahe ho (ML projects, Flask apps, etc.) 
##aur chahte ho ki tumhara code directly source se run ho — copy karke site-packages mein install na ho.